<div class="ext_variable" typeof="ext:Variable" resource="http://variables/307b01b8-a2a9-4986-a928-44f74559e297">
  <div property="ext:idInSnippet" content="{{burgemeesterPersoonId}}">42</div>
  <div property="ext:intentionUri" content="http://installatie/burgemeester-persoon">a</div>
  <div property="ext:variableState" content="initialized">initialized</div>
</div>

<p class="u-spacer--small">De gemeenteraad,</p>
<div property="besluit:motivering" lang="nl">
  <div>
    <ul class="bullet-list">
      <li>Gelet op <a href="http://data.lblod.info/WetgevingDocument/1029017" property="eli:cites">het decreet van 22 december 2017 over het lokaal bestuur</a>, de artikelen <a href="http://data.lblod.info/WetgevingArtikel/1234900" property="eli:cites">58</a>, <a href="http://data.lblod.info/WetgevingArtikel/1234901" property="eli:cites">59</a>, <a href="http://data.lblod.info/WetgevingArtikel/1234902" property="eli:cites">60</a>, <a href="http://data.lblod.info/WetgevingArtikel/1234903" property="eli:cites">61</a> en <a href="http://data.lblod.info/WetgevingArtikel/1234904" property="eli:cites">62</a>;</li>
      <li>Gelet op de omzendbrief BA-2018/2 van 19 oktober 2018 &mdash; Start van de lokale en provinciale bestuursperiode;</li>
    </ul>
  </div>
  <br>
  <div>
    <ul class="bullet-list">
      <li>Overwegende dat de Minister van Binnenlandse Aangelegenheden nog geen burgemeester benoemd heeft.</li>
    </ul>
  </div>
</div>

<br>
<br>

<p class="u-spacer--small">Neemt akte van,</p>

<div property="prov:value">Het gegeven dat er nog geen nieuwe benoemde burgemeester is en ten gevolge het <a href="http://data.lblod.info/WetgevingDocument/1029017" property="eli:cites">Decreet Lokaal Bestuur</a>, artikel <a href="http://data.lblod.info/WetgevingAritkel/1234903" property="eli:cites">61</a> de zittende burgemeester zijn mandaat blijft uitoefenen tot hij als burgemeester vervangen is.</div>
