<p class="u-spacer--small">De gemeenteraad,</p>
<div property="besluit:motivering" lang="nl">
  <p>Input nog te krijgen</p>
  <div>
    <ul class="bullet-list">
      <li>Input nog te krijgen</li>
    </ul>
  </div>
  <br>
  <div>
    <ul class="bullet-list">
      <li>Input nog te krijgen</li>
    </ul>
  </div>
</div>

<br>
<br>

<p class="u-spacer--small">Neemt akte van,</p>

<div property="prov:value">
  <p>Input nog te krijgen</p>
</div>
{{yield}}
